body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 20px 100px 20px 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.logo {
    font-size: 48px;
    display: flex;
    align-items: left;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: flex-end;

}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #81b8a6;
    color: white;
    padding-bottom: 90px;
    padding-top: 90px;
    

}

.hero-text {
    text-align: left;
}

.hero {
    display: flex;

}

.gallery {
    display: flex;
    justify-content: center;
    padding: 10px 200px 60px 200px;
    gap: 40px;

}
    
.corner {
    width: 200px;
    height: 200px;



}
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 60px 400px 60px 400px;
    text-align: center;

    

   

}

h1 {
    text-align: left;
    padding-top: 60px;
}















.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 10px;
}