body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.header {
    display: flex;
    background-color: #3d6464;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;

    
}

.left-logo {
    font-size: 48px;
    display: flex;
    justify-items: flex-start;
    font-weight: 400;
    font-family: "Rubik Dirt", cursive;
    color:white
}

ul {
    font-size: 20px;
    color: #ffffff;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0%;

}

a:visited {
    color: rgb(177, 250, 234);
}

a {
    text-decoration: none;
}

a:hover {
    color: #81b8a6;
}
 
.cta-top {
    display: flex;
    flex-direction: column;
    gap: 10px
    ;
    
}

.hero-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #81b8a6;
}

.hero-right {
    background-color: #1F2937;
    width: 400px;
    height: 200px;
    border-radius: 18px;

}

.imgholder {
    width: 500px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid rgb(141, 214, 196);
    object-fit: cover;
   
    
}

.first-btn {
    display: flex;
    justify-content: flex-start;

 
}

.signup-1 {
    width: 120px;
    height: 35px;
}











.gallery {
    display: flex;
    justify-content: center;
    padding: 10px 200px 60px 200px;
    gap: 50px;
   
   
}

.header-gallery {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    

}
    
.corner {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid rgb(141, 214, 196);
    object-fit: cover;

}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    background-color: #81b8a6;
    color: aliceblue;
    padding: 70px 50px 70px 5px;

}

.Q {
    color: aliceblue;
    padding: 0 100px;
}

.sbtn {
    display: flex;
   

}

.hero-btn {
    width: 150px;
    height: 40px;
    background-color: white;
    border: #81b8a6;

}
.cta {
    display: flex;
    background-color: rgb(227, 240, 235);
    justify-content: center;
    align-items: center;
    width: auto;
    height: 250px;
    
}


h2 {
    text-align: left;
    padding: 0;

}
.signup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 30px 100px;
    background-color: rgb(102, 146, 139);
    width: 960px;
    border-radius: 20px;
    color: aliceblue;

}


}

h3 {
    line-height: 5px;

}

p {
    text-align: left;
}



.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    height: 80px;
}

#autor {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    color:#3d6464
}