body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}


/* Header  */

.section-wrapper {
    display: flex;
    justify-content: center;
    background-color: #69523A;    

}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    width: 1200px;
}

/* Hero Container */

.hero-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-color: #FFFAEE;
    flex-wrap: wrap;
}

.hero-main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    height: 415px;
    gap: 100px;
    background-color: #FFFAEE;
}

ul {
    font-size: 16px;
    color: #DAD2BC; 
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0%;

}

a:visited {
    color: #DAD2BC
}

a {
    text-decoration: none;
}

a:hover {
    color: #FFFAEE;
}
 
.first-btn {
    display: flex;
    justify-content: flex-start;
}

.signup-1 {
    width: 200px;
    height: 45px;
    background-color: #A99985;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.first-btn {
    padding-top: 10px;
}

.signup-2 {
    width: 200px;
    height: 45px;
    background-color: #A99985;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.gallery {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 22px;
    margin: 0;
   

}

.gallery-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/* Quote */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 600;
    background-color: #A99985;
    color: white;
    padding: 70px 50px 70px 5px;

}

.author {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    color: white;
}

hr {
    width: 55px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    height: 5px;
    background-color:#FFFAEE;
}

/* Call to Action Bottom*/

.signup-container {
    display: flex;
    justify-content: center;
    background-color:#FFFAEE;
}

.signup {
    display: flex;
    justify-content: center;
    gap:200px;
    align-items: center;

}

.bottom-signup {
    width: 200px;
    height: 45px;
    background-color: #A99985;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;


}
.cta-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1200px;
    background-color: #69523A;
    color: white;
    border-radius: 15px;
   
}

.cta-text {
    padding: 50px 0px 50px 0px;
}

.footer {
    display: flex;
    background-color: #69523A;
    color: white;
    justify-content: center;
    align-items: center;
    height: 90px;
    max-width: 1200px;
}


.footer-container {
    display: flex;
    justify-content: center;
    background-color: #69523A;
}

